body {
    margin: 10px;
    padding: 20px;
    display: block;
    background-color: #D9E6EF;
  }
  
  #main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant-caps: small-caps;
    text-align: center;
  }
  
  #main title {
    font-size: 10px;
  }
  
  #main p {
    background-color: #479edb;
    color: white;
    margin: auto;
    width: 200px;
    padding: 10px;
  }

  #img-div {
      background-color: silver;
}

#image {
  width: auto;
  height: 628px;
  border-radius: 8px;
}

#img-caption {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}